*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Axiforma';
    list-style: none;
    
}

body{
    background-color: #080A15;
}

img{
    width: 100%;
    display: block;
}

html{
    font-size: 32%;
}